.request-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.request-wrapper .note {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px 0px 0px;
}

.request-wrapper .note i {
  color: #bf202f;
}
